body {
    background-color: #30323D;
    font-family:'Century Gothic',sans-serif; 
    color: antiquewhite;
}

tr.odd {
    background-color: rgb(73,77,92) !important;
}
tr.even {
    background-color: rgb(73,77,92) !important;
}

.h2naslov {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 70px;
    color: rgb(255,235,96);
    text-align: center;
    letter-spacing: 5px;
}

.left-side:hover {
    font-style: italic;
    border-block-color: rgb(153,134,0);
    border-left-color: rgb(153,134,0);
    border-right-color: rgb(153,134,0);
    color: rgb(153,134,0);
}

.right-side:hover {
    font-style: italic;
    border-block-color: rgb(153,134,0);
    border-left-color: rgb(153,134,0);
    border-right-color: rgb(153,134,0);
    color: rgb(153,134,0);
}

.itemTitle{
    color: papayawhip !important;

}

.h2create{
    margin-top: 40px;
}

div.col-md-10 {
    color: black;
}